


<tr>
    <th scope="row">1</th>
    <td>{{Challenge.Rang}}</td>
    <td>{{Challenge.name}}</td>
    <td>
      <button type="button" class="btn btn-default float-right" (click)="toggleState()">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
      </button>
    </td>
</tr>
<tr [@state]="state">
    <td colspan="3">
        <div class="card border-light mb-3" >
            <div class="card-body">
              <h5 class="card-title">{{Challenge.name}}</h5>
              <p class="card-text">{{Challenge.description}}</p>
        
        
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Tell me more</a>
              <small class="text-muted float-right">{{Challenge.dateCreated | date: 'longDate'}}</small>
            </div>
          </div>
    </td>
</tr>