<div class="jumbotron">
    <h1 class="display-4">404 ¯\_(ツ)_/¯</h1>
    <p class="lead">Seems like you ended up on a page that doesn't really exist!</p>
    <hr class="my-4">
    <p>No worries tho, you're forgiven! Just click any of the navigation links in the navigation bar to go to an existing page</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/home" role="button">Take me home</a>
      <p class="reallySmall">Next time I find you here I won't be so welcoming ...</p>
  </div>