<div class="card">
  <div class="card-header"><h4 style="display:inline-block">All challenges</h4>
      <form class="col-xs-2 pull-right" style="display:inline-block; float:right;">
          <input type='text' placeholder='filter challenge ...' #filter>
          <button (click)="filterValue = filter.value">filter</button>
        </form>
      </div>
  
<!-- <div class="col-xs-2">

    <select class="form-control" ng-model="sortBy">
      <option value="None">-- Sort by --</option>

      <option value="Name">Name</option>
      <option value="Address">Entries</option>

    </select>
  </div> -->



      <table class="table">
          <thead>
            <tr>
              <th scope="col">Rang</th>
              <th scope="col">Naam</th>
              <th scope="col">Auteur</th>
              <th scope="col">Gepost</th>
              <th scope="col">Aantal inzendingen</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let chal of Challenges | challengeFilter : filterValue; let i = index" [attr.data-index]="i" >

                <th scope="row">{{i+1}}</th>
                <td>{{chal.name}}</td>
                <td>Casper Verswijvelt</td>
                <td>{{chal.dateCreated}}</td>
                <td>2</td>
                <td>
                    <a href="#" class="btn btn-primary">Tell me more</a>
                </td>
            </tr>
          </tbody>
        </table>



  <p class="text-center" *ngIf="Challenges==undefined || Challenges.length == 0">There are no challenges yet, make one!</p>



</div>