<div class="card-header">
  <h4 style="display: inline;">
    <span style="font-weight: bold">Challenge: </span>{{Challenge.name}}</h4>
</div>
<div class="card-body">
    <div class="text-muted">
        Posted on {{Challenge.dateCreated | date: "d/M/'yy - HH:mm"}} by <span routerLink="/profile/{{Challenge.author.username}}" style="cursor: pointer;">{{Challenge.author.username}}</span>
      </div>
      <br>
  <p class="card-text">
    <span style="font-weight: bold">Description: </span>{{Challenge.description}}
  </p>

</div>
