<div class="card">
  <div class="card-header">
    <h4 style="display: inline;"> <span style="font-weight: bold">Challenge: </span>{{challenge.name}}</h4>
    <div style="float:right;">
        Posted on {{challenge.dateCreated | date: "d/M/'yy - h:mm"}}
      </div>
  </div>
  <div class="card-body">
    <p class="card-text"><span style="font-weight: bold">Description: </span>{{challenge.description}}</p>
    <p class="card-text"><span style="font-weight: bold">Entries: </span>{{challenge.entries.length}}</p>
    
  </div>
  
  <div class="card" style="margin:0">

    <app-add-entry [Challenge]="challenge"></app-add-entry>

    
    <app-entry *ngFor="let entry of challenge.entries" [Entry]="entry"></app-entry>
    <h4 *ngIf="challenge.entries?.length==0">There are ne entries to this challenge yet, make one!</h4>
  </div>


</div>

