<div class="card">
  <app-challenge [Challenge]="challenge"></app-challenge>

  <div class="card" style="margin:0">

    <app-add-entry (newEntry)="addEntry($event)"></app-add-entry>

    <h4 *ngIf="challenge.entries?.length==1" class="text-center" style="padding: 0.5em;">There is {{challenge.entries.length}} entry for this challenge</h4>
    <h4 *ngIf="challenge.entries?.length>1" class="text-center" style="padding: 0.5em;">There are {{challenge.entries.length}} entries for this challenge</h4>
    <h4 *ngIf="challenge.entries?.length==0" class="text-center"
      style="padding: 1.5em;">There are no entries to this challenge yet, submit one!</h4>
    <app-entry *ngFor="let entry of (challenge.entries | entrySortByDate)" [Entry]="entry"></app-entry>




  </div>


</div>
