<div class="card">
  <div class="card-header">
    <h4 style="display:inline-block">
      All challenges
    </h4>
    <form class="col-xs-2 pull-right" style=" float:right;" [formGroup]='filterGroup' (ngSubmit)="onFilterSubmit()">
      <input type='text' placeholder='filter challenge ...' formControlName="filter">
      <button type="submit">filter</button>
    </form >
  </div>
  
<!-- <div class="col-xs-2">

    <select class="form-control" ng-model="sortBy">
      <option value="None">-- Sort by --</option>

      <option value="Name">Name</option>
      <option value="Address">Entries</option>

    </select>
  </div> -->



      <table class="table">
          <thead>
            <tr>
              <th scope="col">Inzendingen</th>
              <th scope="col">Naam</th>
              <th scope="col">Auteur</th>
              <th scope="col">Gepost</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let chal of challenges | challengeFilter : filterValue">

                <th scope="row">{{chal?.entries?.length || "0"}}</th>
                <td>{{chal.name}}</td>
                <td>Casper Verswijvelt</td>
                <td>{{chal.dateCreated | date: "d/M/'yy - hh:mm"}} </td>
                <td>
                    <a routerLink="/challenge/{{chal.id}}" class="btn btn-primary">Tell me more</a>
                </td>
            </tr>
          </tbody>
        </table>



  <p class="text-center" *ngIf="challenges==undefined || challenges.length == 0">There are no challenges yet, make one!</p>
  <p class="text-center" *ngIf="(challenges | challengeFilter : filterValue)?.length == 0">No challenges were found matching your input.</p>



</div>