<div class="card" style="margin:1em;">
  <div class="row">
    <div class="col-md-6">
      <div class="card-block" style="padding: 2em;">
        <h4 class="card-title">Casper Verswijvelt</h4>
        <p class="card-text">{{Entry.description}}</p>

      </div>
    </div>
    <div class="col-md-6">
      <div class="card-img-bottom" style="height: 20em ; background-size: cover;background-repeat: no-repeat; background-position: center;"
      [ngStyle]="{'background-image':'url( '+Entry.img+' )'}">
      </div>
    </div>
  </div>
</div>
