<div >
  <div class="card col-md-4  col-lg-3 d-none d-md-block" style="position: fixed; width: 100%; padding: 0;">
    <h3 class="card-header">
      Profile of {{Activity.username}}
    </h3>
    <div class="card-body">
      <p>
        <strong>Challenges created:</strong> {{aantalChallenges}}</p>
      <p>
        <strong>Submissions made:</strong> {{aantalEntries}}</p>


      <p class="text-muted">Registered on {{Activity.joined | date: "d/M/'yy - HH:mm"}}</p>
    </div>
  </div>
</div>


<div class="d-block d-sm-block d-md-none col-sm-10" style="padding-bottom: 2em;margin:auto;">
  <div class="card">
    <h3 class="card-header">
      Profile of {{Activity.username}}
    </h3>
    <div class="card-body">
      <p>
        <strong>Challenges created:</strong> {{aantalChallenges}}</p>
      <p>
        <strong>Submissions made:</strong> {{aantalEntries}}</p>


      <p class="text-muted">Registered on {{Activity.joined | date: "d/M/'yy - HH:mm"}}</p>
    </div>
  </div>
</div>




<div class="container col-md-7 offset-md-5 ">
  <h3 class="text-center">Latest activities</h3>

  <div class="row">

    <div class="timeline-centered">

      <article class="timeline-entry" *ngFor="let entry of Activity.activity">

        <div class="timeline-entry-inner" *ngIf="entry.type == 'challenge'">
          <div class="timeline-icon bg-warning">
            <i class="entypo-feather"></i>
          </div>

          <div class="timeline-label">
            <h2>
              <a routerLink="/profile/{{Activity.username}}" style="cursor: pointer;">{{Activity.username}}</a>
              <span>created a new challenge</span>
              <h5 routerLink="/challenge/{{entry.activity._id}}" style="cursor: pointer;">{{entry.activity.name}}</h5>
            </h2>
            <textarea readonly style="background: transparent; border: 0; width: 100%; min-height: 1.2em;max-height: 10em;height: 4em;line-height: 1em;text-overflow: clip; overflow: hidden;margin-top: 1em;">{{entry.activity.description}}</textarea>
            <p class="text-muted">{{entry.activity.created | date: "d/M/'yy - HH:mm"}}</p>
          </div>
        </div>

        <div class="timeline-entry-inner" *ngIf="entry.type == 'entry'">
          <div class="timeline-icon bg-info">
            <i class="entypo-feather"></i>
          </div>
          <div class="timeline-label ">



            <h2>
              <a routerLink="/profile/{{Activity.username}}">{{Activity.username}}</a>
              <span>submitted a picture to</span>
              '<a routerLink="/challenge/{{entry.challenge.id}}">{{entry.challenge.name}}</a>'
            </h2>
            <div class="col-md-12">
              <img src="{{entry.activity.img}}" style="width: 100%; cursor: pointer;" data-toggle="modal" [attr.data-target]="'#imagemodal' + entry.activity._id">
            </div>

            <textarea readonly style="background: transparent; border: 0; width: 100%; min-height: 1.2em;max-height: 10em;height: 4em;line-height: 1em;text-overflow: clip; overflow: hidden;margin-top: 1em;">{{entry.activity.description}}</textarea>
            <p class="text-muted">{{entry.activity.created | date: "d/M/'yy - HH:mm"}}</p>

            <app-entry-modal [Entry]="entry.activity"></app-entry-modal>


          </div>


        </div>

      </article>





      <article class="timeline-entry begin">

        <div class="timeline-entry-inner">

          <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
            <i class="entypo-flight"></i> +
          </div>

          <div class="timeline-label">
            <h2>
              <a routerLink="/profile/{{Activity.username}}" style="cursor: pointer;">{{Activity.username}}</a>
              <span>registered on Challenger</span>
            </h2>
            <p class="text-muted">{{Activity.joined | date: "d/M/'yy - HH:mm"}}</p>
          </div>

        </div>

      </article>

    </div>


  </div>
</div>
